@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    font-family: "poppins" , Arial;
}

:root {
    --rem: 16;
    view-transition-name: root;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 80%;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: 120px 1fr 2fr;
    align-items: center;
    border-bottom: 1px solid #ccc;

}
header, h2, p, div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    
}

nav a {
    color: black;
    font-weight: 600;
    font-size: 125%;
    text-decoration: none;
    padding: 50px;

}

section h2 {
    margin-top: 100px;
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: 500;
}


main {
    margin: 2%;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.links a {
    margin: 0 10px;
    text-decoration: none;
}
.hero {
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    overflow: hidden;
}

.hero img {
    width: 80%;
    height: auto;
    object-fit: cover;
}

.hero article {
    position: absolute;
    top: 45%;
    width: 78%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(40, 88, 48, 0.76);
    color: white;
    font-size: 150%; 
    padding: 20px
}

.hero article p {
    flex: 1;
    text-align: center;
    font-size: 1em;
}

.hero article img{
    width: 30%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 10%;
    width: 78%;
    background-color: rgba(60, 92, 86, 0.781);
    color: white;
    font-size: 3em;
    font-weight: 400;
    padding: 10px 0;
}

.adventure {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 40% 50% 10%;
}

.adventure h2{
    grid-column: 2/4;
    grid-row: 1;
}

.adventure img {
    grid-row: 2;
    justify-content: space-around;
    
}

.adventure p{
    grid-row: 3;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

.sociallinks {
    display: flex;
    gap: 10px;
} 

.sociallinks img{
    width: 40px;
    height: auto;
}