@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
* {
    box-sizing: border-box;
    font-family: "Nunito Sans" , sans-serif;
}

:root {
    --primary-color: #997b66;
    --secondary-color: #9B9B7A;
    --background-color: #e9edc9;
    --text2-color: #283618;
    --text-color: #0a0908;
    --buttom-color: #333d29;

}
body {
    /* display: flex; */
    flex-direction: row;
    align-items: center;
}

header {
    width: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: 120px 1fr 2fr;
    align-items: center;
    /* border-bottom: 1.5px solid #ccc; */

}
header, h1, h2, p, div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    
}

h1 {
    display: flex;
    position: relative;
    justify-self: center;
    align-self: center;
    font-size: 44px;
    padding-bottom: 5px;
}
nav a {
    color: black;
    font-weight: 600;
    font-size: 125%;
    text-decoration: none;
    padding: 50px;

}

/* main {
    margin: 5%;
}  */


footer {
    display: flex;
    justify-content: right;
    align-items:flex-end;
    padding: 10px;
    gap: 15%;
}

.links a {
    margin: 0 10px;
    text-decoration: none;
}
.hero {
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    overflow: hidden;
}

.hero img {
    width: 80%;
    height: auto;
    object-fit: cover;
}

.hero article {
    position: absolute;
    top: 45%;
    width: 78%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(40, 88, 48, 0.76);
    color: white;
    font-size: 150%; 
    padding: 20px
}

.hero article p {
    flex: 1;
    text-align: center;
    font-size: 1em;
}

.hero article img{
    width: 30%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 10%;
    width: 78%;
    background-color: rgba(60, 92, 86, 0.781);
    color: white;
    font-size: 3em;
    font-weight: 400;
    padding: 10px 0;
}

.adventure {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 40% 50% 10%;
    margin-top: 100px;
    margin-bottom: 40px;
}

.adventure h2{
    grid-column: 2/4;
    grid-row: 1;
    font-weight: 700;
    font-size: 40px;
}

.adventure img {
    grid-row: 2;
    justify-content: space-around;
    margin-left: 100px ;
    
}

.adventure p{
    grid-row: 3;
    justify-content: space-around;
    padding-top: 45px;
    margin: 0;
    font-size: 20px;
    font-weight: 300;
}

.sociallinks {
    display: flex;
    gap: 10px;
} 

.sociallinks img{
    width: 40px;
    height: auto;
}

/* classes of contact us page */

.reach-out {
    width: 1300px;
    padding: 30px;
    margin-left: 15%;
    background-color: var(--background-color);
    color: var(--text-color);
}

.reach-out p {
    margin-top: 2px;
}

.info {
    display: flex;
    justify-content: center;
    align-content: center; 
    column-gap: 160px;
    position: relative;
    margin-top: -45px
}
.contact {
    flex-flow: row wrap;
    border: 2px solid #b3be94;
    border-radius: 10px;
    background-color: var(--background-color);
    width: 350px;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;  

}

.contact h2 {
    margin: 0;
}

.contact p {
    flex-wrap: wrap;
    justify-self: center;
    align-self: center;
    text-align: center;
    margin: 0;
    padding: 0;

}

.contact img {
    margin: 10px;
}

.address {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5% 10%;

}

.address h3{
    margin-bottom: 10px;
    color: var(--text2-color);
    font-size: 35px;
}

.address p {
    margin-right: 200px;
}



.Team {
    text-align: center;
    margin: 5% 10%;
    padding: 20px;
    gap: 20px;
}

.Team h4 {
    font-size: 3em;
    margin: 10px;
    color: var(--text-color);
}

.employee-card {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.employee {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
}

.employee img {
    justify-content: center;
    border-radius: 10%;
    margin-bottom: 20px;
}

.employee h5 {
    
    margin-bottom: 10px;
    font-size: 1em;
    color: var(--text2-color);
}

.employee p { 
    margin: 0;
    font-size: 1em;
    color: darkolivegreen;
}

.message {
    text-align: center;
    width: 70%;
    padding: 3%;
    margin-left: 18%;
    left: 50px;
    background-color: var(--secondary-color);
    margin-bottom: 60px;
}

.message h3 {
    height: 35px;
    font-size: 3em;
    margin: 0px;
}

.radio {
    display: grid;
    margin: 0 25% 0 25%;
    text-align: left;
}

.radio label, p{
    font-weight: 600;
}

.radio textarea {
    height: 70px;
}

.radio button {
    height: 50px;
    font-weight: 400;
    font-size: 25px;
    background-color: var(--primary-color);
    border-color: #5e503f;
    color: #fff;
}

/* Trips Page Classes */

.contact-us {
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
}

.contact-us h1 {
    position: absolute;
    color: white;
    background-color: #5e503fcc;
    border-radius: 20%;
    margin-top: -275px;
    font-size: 50px;
    font-weight: 300;
}

.contact-us button {
    position: absolute;
    margin-left: -70%;
    margin-top: 250px;
    background-color: var(--buttom-color);
    color: var(--background-color);
    width: 600px;
    height: 70px;
    font-size: 30px;
    font-weight: 350;
}

.trips {
    margin-top: 5%;
}

.trips h2 {
    font-size: 3em;
    font-weight: 500;
    color: var(--text2-color);
    border-bottom: 5px solid #7a945c;
    padding: 20px;


}

.trips-info {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 5%;


}

.trips-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
    width: 400px;
    background-color: #5e503f;
    color: #fff;
    border-radius: 10%;
    gap: 5px;
}

.trips-cards h3, h4, h5 {
    margin-top: 5px;
    font-size: 30px;
}

.trips-cards p{
    font-weight: 400;
}

.trips-cards img {
    justify-content: center;
    border-radius: 5%;
}

.trips-table {
    position: relative;
    width: 1200px;
    height: 200px;
    margin-left: 18%;
    background-color: #858b7f;
    border: 2px solid #858b7f;
    border-style: ridge;
}
.trips-table tr {
    text-align: center;
    background-color: #b6cc91;
    
}

.trips-table th:nth-child(even),td:nth-child(even) {
    background-color: #cfddae;
  }

/* Classes of home page */

.home {
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
    margin-top: 30px;
}

.home img {
    width: 100%;
    margin-bottom: 30px;
}

.home h1 {
    position: absolute;
    padding: 1%;
    /* background-color: var(--background-color); */
    /* border: 1px solid var(--buttom-color); */
    /* border-radius: 5%; */
    color: #fff;
    text-shadow: 4px 4px 4px #03112e;
}

.newsletter {
    text-align: center;
    width: 70%;
    padding: 10px;
    margin-left: 15%;
    background-color: var(--background-color);
    margin-bottom: 60px;
}

.newsletter h2 {
    font-size: 40px;
}

.newsletter label {
    font-size: 20px;
    font-weight: 400;
}
.newsletter input {
    display: grid;
    justify-items: center;
    align-items: center;
    width: 500px;
    height: 30px;
    margin: 1% 31%;
    font-size: 15px;
}

.newsletter button {
    width: 30%;
    height: 50px;
    font-size: 20px;
    font-weight: 700;
    background-color: var(--buttom-color);
    color: #fff;
}

.trips-link {
    justify-content: center;
    align-content: center;
    margin-left: 200px;
    margin-bottom: 150px;
}

.trips-link h3 {
    position: absolute;
    justify-content: center;
    align-content: center;
    font-size: 50px;
    font-weight: 400;
    margin-top: -500px;
    color: #fff;
    background-color: #1a2b1ab4;
    padding: 0 530px 0;
    text-align: center;
}

.trips-link button {
    position: absolute;
    justify-content: center;
    align-content: center;
    margin: -300px 600px;
    width: 300px;
    height: 40px;
    font-size: 20px;
    font-weight: 600;
    background-color: #858b7f;
    color: #fff;
}

.info {
    display: flex;
    justify-content: center;
    gap: 100px;
    flex-wrap: wrap;
}

.info-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
    width: 600px;
    margin-bottom: 150px;
}

.wireframe button {
    background-color: var(--buttom-color);
    color: var(--background-color);
}

     