
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-family: "Merriweather", serif;
    font-style: light;
    --rem: 16;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

form {
    width: 600px;
    padding: 10px;
}
input, textarea, select {
    padding: 0.1rem;
    font-size: 1rem;
}

input {
    width: 400px;
}

textarea {
    width: 400px;
    height: 60px;
    vertical-align: baseline;
}

button {
    width: 500px;
    height: 50px;
    margin-top: 35px;
    font-size: 18px;
    background-color: darkblue;
    color: white;
    vertical-align: bottom;
}
.quiz h1 {
    font-size: 1.8em;
    margin: 1rem;
    text-align: left;
    color: darkblue;
}

.quiz ol {
    border: 0.1em solid gray;
    background-color: ghostwhite;
    padding: 35px;
}

.quiz label {
    font-weight: bold;
    line-height: 2;
}

.quiz img {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 15px;
    width: 250px;
    height: auto;
}    