* {
    box-sizing: border-box;
    font-family: 'Playfair', sans-serif;
}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}

nav {
    background-color: steelblue;
    padding: 1px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 700;
    color: #fff;
}
main {
    grid-column: 2/3;
    margin: 1rem;

}
main h1{
    color: steelblue;
    font-weight: 700;
    padding: 10px;
    border-bottom: 2px solid steelblue;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
    position: relative;
    grid-column:1/2;
    grid-row: 1/2;
}

aside h2 {
    color: #eee;
    position: absolute;
    top: 60px;
    left: 128px;

}

aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 150px;
    height: auto;
    float: right;

}

main p { 
    padding: 0;
    margin: 1rem;

}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class Selectors */

.grid {
    display: grid;
    align-items: center;
}

.chile {
    margin: 1rem;
    border: 1px solid rgba(0,0,0,.1);
    padding: 1rem;
    background-color: #eee;
    color: #000;

}